{% extends 'layouts/app.njk' %}

{% block content %}

    <div class="uk-container">

        <h2>Pending Receipts</h2>

        {{ results }}

        <div class="uk-card uk-card-default">

            <table class="uk-table uk-table-divider">
                <thead>
                <tr>

                    <th>Date</th>
                    <th>Store</th>
                    <th>Total (inc VAT)</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Table Data</td>
                    <td>Table Data</td>
                    <td>Table Data</td>
                </tr>
                <tr>
                    <td>Table Data</td>
                    <td>Table Data</td>
                    <td>Table Data</td>
                </tr>
                <tr>
                    <td>Table Data</td>
                    <td>Table Data</td>
                    <td>Table Data</td>
                </tr>
                </tbody>
            </table>

        </div>

        <h2>Receipts</h2>

        <div class="uk-card uk-card-default">

            <table class="uk-table uk-table-divider">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Store</th>
                    <th>Total (inc VAT)</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Table Data</td>
                    <td>Table Data</td>
                    <td>Table Data</td>
                </tr>
                <tr>
                    <td>Table Data</td>
                    <td>Table Data</td>
                    <td>Table Data</td>
                </tr>
                <tr>
                    <td>Table Data</td>
                    <td>Table Data</td>
                    <td>Table Data</td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

{% endblock %}